body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    justify-content: center;
    letter-spacing: normal;
    font-family: 'Bree Serif', serif;
}

header {
    margin: 0;
    font-size: 1rem;    
}

h1 {
    background-color: #000;
    color: #FFFFFF;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-weight: lighter;
}

.control-bar {
    /*background-image: linear-gradient(50deg, rgba(0, 64, 255, 0.362), rgba(0, 255, 89, 0.597));*/
    background-color: #69c39e;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    font-weight: lighter;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

select {
    background-color: #e3fcf2;
    border-radius: 10%;
    border-style: none;
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8%;
    font-size: 1rem;
    font-family: inherit;
}

.cardsContainer {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    align-items: center;
    justify-content: center;    
}

.card {
    margin: 0;
    font-size: 1rem;
    width: 300px;
    height: 500px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border: solid thin #C39469;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

.imgAndName {
    width: inherit;
    height: 380px;
    background-color: #000;
    color: #FFFFFF;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.cardNames {
    height: 80px;
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    /*como achicar distancia vertical entre los párrafos?*/
}

.scientificName {
    font-style: italic;
}

.cardImg {
    margin: auto;
    margin-top: 0;
    width: 300px;
    height: 300px; /* con min-height?*/
    position: inherit;
    border-radius: inherit;
}

.birdFacts {
    height: 180px;
    width: fit-content;
    margin: 0.2rem;
    display: flex;
    list-style: circle;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
}

footer {
    margin-bottom: 0;
    background-color: #000;
    opacity: 80%;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 0.1rem;
    font-size: 0.8rem;
}
